html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  padding-bottom: 2em;
}

article {
  font-family: "Crimson Text", serif;
}

article header {
  color: #222;
  padding-bottom: .75em;
}

article h1 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0;
}

article header p {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0;
}

blockquote {
  text-align: left;
  font-size: 1.125rem;
  color: #999;
  margin-bottom: 1.3em;
}

blockquote p {
  color: #555;
}

.quote {
  font-size: 1.125rem;
  color: #555;
}

article p {
  font-family: "Crimson Text", serif;
  margin-bottom: 1.125em;
}

article ol {
  padding-top: 1em;
  padding-left: 1em;
}
